/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/entry/libs/arm64-v8a/libKuiklyCalendar.so
/entry/src/main/cpp/libKuiklyCalendar_api.h